 body{
    background-image:linear-gradient(to bottom right,  orange,white,green);
} 
.class{
    /* border: 2px solid black; */
    height:700px;
    /* width: fit-content; */
    
    margin-top: 20%;
    text-align: center;
}